@model IEnumerable<SendReceiptsDemo.Models.Message>

@{
    ViewData["Title"] = "پیامک ها";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<input id="searchtype" type="hidden" value="6" />
<div class="table-responsive">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden-xs">
                            <div class="app-search">
                                <input type="text" id="searchtext" placeholder="به دنبال چه می گردی ؟؟؟"
                                       class="form-control">
                                <a href=""><i class="fa fa-search"></i></a>
                           </div>
                        </li>
                    </ul>
   @* @if (User.Claims.SingleOrDefault(c => c.Type == "AdminType").Value == "مدیر وام")
        {
            <br/><br/><br/><div class="yelalert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            مدیران وام اجازه ارسال یا حذف پیامک را ندارند</div>
        }*@
                    <h4 class="header-title m-t-0 m-b-30">فهرست پیامک ها</h4> 
                     <a asp-action="MakeMessage" type="button" class="btn btn-pink btn-rounded w-md waves-effect waves-light m-b-5">ارسال پیامک</a>
 <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.MobileNumber)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.MessageText)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.SentDate)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.SentState)
            </th>
            <th>ویرایش</th>
            <th>حذف</th>
        </tr>
    </thead>
    <tbody id="tbdata">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageText)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.SentDate)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.SentState)
            </td>
             <td><a asp-action="ReadMessage" asp-route-id="@item.MessageId" type="button" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">نمایش</a></td>
          <td><a asp-action="DeleteMessage" asp-route-id="@item.MessageId" type="button" class="btn btn-danger btn-rounded w-md waves-effect waves-light m-b-5">حذف</a></td>
        </tr>
}
    </tbody>
</table>
 </div>

<div class="row text-center">
    <nav>
        <ul class="pagination">
@*            <li class="disabled"><a aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
*@          @for (int i = 1; i <= (ViewBag.MessagesPageCount+1); i++)
          {
                <li class="@(((int)ViewBag.MessagesPageID==i)?"active":"")"><a href="/Admin/ShowMessages?pageid=@i">@i<span class="sr-only">(current)</span></a></li>
          }
@*            <li><a aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
*@        </ul>
    </nav>
</div>